/* General reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fc;
  color: #333;
}

.login-container,
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
